body {
  transition: 0.3s;
  font-family: Arial, sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.toggle-btn {
  padding: 12px 25px;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  background: #4a90e2;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.toggle-btn:hover {
  background: #357ab8;
}
