body{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 200px 0px;
    gap: 60px;
}

.hi-card {
    width: 50px;
    padding: 20px;
    background-color: chocolate;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    opacity: 0;
    transform: translateY(50px);
    animation: slideIn 0.8s ease-out forwards;
}

@keyframes slideIn {
    0% {
    opacity: 0;
    transform: translateY(150px);
    }
    100% {
    opacity: 1;
    transform: translateY(0);
    }
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

button {
    padding: 12px 24px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.red-btn { 
    background-color: red; 
}

.blue-btn { 
    background-color: blue; 
}

.green-btn { 
    background-color: green; 
}

button:hover {
    transform: scale(1.05);
}

body:has(.red-btn:hover) {
    background-color: #e74c3c;
}

body:has(.blue-btn:hover) {
    background-color: #3498db;
}

body:has(.green-btn:hover) {
    background-color: #27ae60;
}

.btn {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 12px 28px;
    font-size: 16px;
    font-weight: 500;
    background-color: blueviolet;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn:hover {
    background-color: blueviolet;
    transform: scale(1.03);
}

.spinner {
    position: absolute;
    width: 18px;
    height: 18px;
    border: 2px solid rgba(255, 255, 255, 0.6);
    border-top-color: #fff;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    opacity: 0;
    transform: scale(0);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.btn:hover .spinner {
    opacity: 1;
    transform: scale(1);
}

.btn:hover span {
    opacity: 0;
    transform: scale(0.9);
}

@keyframes spin {
    to {
     transform: rotate(360deg);
    }
}

.card {
      width: 250px;
      height: 160px;
      perspective: 1000px; /* enables 3D effect */
    }

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    animation: flip 4s infinite ease-in-out;
}

.card-face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
}

.card-front {
    background-color: brown;
}

.card-back {
    background-color: coral;
    transform: rotateY(180deg);
}

    /* Flip animation */
@keyframes flip {
    0%, 100% {
        transform: rotateY(0deg);
    }
    50% {
        transform: rotateY(180deg);
    }
}