/* Flex-box */

.flex {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  background-color: black;
  padding: 20px;
  width: 350px;
}

.box {
  height: 60px;
  border-radius: 6px;
}

.box.red {
  background-color: red;
  width: 130px;
}

.box.yellow {
  background-color: yellow;
  width: 200px;
}

.box.purple {
  background-color: rgb(97, 1, 97);
  width: 200px;
}

.box.green {
  background-color: green;
  width: 350px;
}

.box.blue {
  background-color: blue;
  width: 350px;
}

/* Grid-box */

.grid {
  display: grid;
  grid-template-columns: repeat(4, 80px);
  grid-template-rows: repeat(4, 80px);
  gap: 10px;
  background-color: black;
  padding: 20px;
  width: 350px;
}

.g {
  border-radius: 6px;
}

.red1 {
  background-color: red;
  grid-column: 1 / 3;
}

.yellow {
  background-color: yellow;
  grid-row: 1 / 3;
  grid-column-start: 3;
  grid-column-end: 5;
}

.green {
  background-color: green;
  grid-row: 2 / 5;
}

.blue {
  background-color: blue;
  grid-column: 2;
  grid-row: 2 /4;
}

.red2 {
  background-color: red;
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row: 3;
}

.purple {
  background-color: rgb(97, 1, 97);
  grid-row: 4;
  grid-column: 2 / 5;
}
