body{
    justify-content: center;
    display: flex;
}

.box{
    height: 100px;
    width: 100px;
    background-color: blue;
    transform: translateX(60px);
    transition: transform 1.3s ease;
}

.box:hover{
    background-color: red;
    transform: rotate(125deg);
    transition-delay: 0.5s;
    transition: transform 0.8s ease-in-out;
}

.btn{
    background-color: blueviolet;
    transition: transform 0.3s ease;
}

.btn:hover{
    background-color: chocolate;
    transform: scale(2);
}

.circle {
  width: 120px;
  height: 120px;
  background-color: red;
  border-radius: 50%;
  transition: transform 0.3s ease;
  text-align: center;
}

.circle:hover {
  transform: rotate(360deg);
  transition: 3s ease-in-out;
}

.shape {
  width: 100px;
  height: 100px;
  background-color: blueviolet;
  border-radius: 10%;
  animation: float 3s ease-in-out infinite;
}

@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-50px);
  }
}

.img{
    margin: 100px;
    height: 50px;
    width: 50px;
    transition: transform 0.4s ease;
}

.img:hover{
    transform: scale(1.5) rotate(30deg);
}