/* Element Selector */
        h1 {
            color: seagreen;
            text-align: center;
        }

        /* Class Selector */
        .highlight {
            background-color: chartreuse;
            font-weight: bold;
        }

        /* ID Selector */
        #special {
            color: crimson;
            font-size: 20px;
            text-decoration: underline;
        }

        /* Grouping Selector */
        h2, h3 {
            color: cadetblue;
        }

        /* Descendant Selector */
        div p {
            color: darkgreen;
        }

        /* Child Selector */
        ul > li {
            color: purple;
        }

        /* Attribute Selector */
        input[type="text"] {
            border: 2px solid orange;
            padding: 5px;
        }

        /* Pseudo-class Selector */
        a:hover {
            color: red;
            font-weight: bold;
        }

        /* Pseudo-element Selector */
        p::first-letter {
            font-size: 24px;
            color: crimson;
        }
