*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    padding: 0 20px;
    background-color: burlywood;
}

    /*--header--*/

header {
    background-color: cornsilk;
    color: white;
    padding: 20px 0;
    position: sticky;
   top: 0;
   z-index: 1000;
}

header h1{
    margin-bottom: 10px;
    font-size: 2rem;
    letter-spacing: 2px;
    color: black;
    text-align: center;
    
}

    /*--navigation--*/

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 15px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    padding: 10px 15px;
    background-color:blueviolet;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover{
    background-color: chocolate;
}

    /*--section styles--*/

section {
    height: 100%;
    width: auto;
    margin: 40px 0;
    padding: 20px;
    background-color: beige;
    border-radius: 5px;
}

section aside {
  padding-left: 15px;
  margin-left: 15px;
  float: inline-end;
}

section .btn{
    background-color: blueviolet;
    color: #fff;
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;
}

section .btn2 img{
    height: 10px;
    width: 10px;
    align-items: center;
}

section .btn2{
    background-color: white;
    color: black;
    border-radius: 3px;
    height: 35px;
}

section .btn2:hover{
    color: blueviolet;
    background-color: #fff;
    border-color: blueviolet;
    cursor: pointer;
}
.art{
    text-align: center;
    margin: 10px;
    padding: 3px;
    height: 100px;
    width: 150px;
    background-color: darkgray;
}

section .sec{
    background-color: white;
    display: grid;
}

.d1{
    line-height: 20px;
    transition-duration: 0.2s;
    box-sizing: border-box;
    border: 0px solid;

}
.sec img{  
    border-radius: 10px;
}

.sec h1{
    text-align: center;
}

.sec p{
    text-align: center;
}

.sec button{
    background-color: blueviolet;
    color: #fff;
    height: 35px;
    width: 100px;
    border-radius: 5px;
    cursor: pointer;
}

.sec2{
    background-color: #101828;
}

.sec2 h1{
    text-align: center;
    color: #fff;
}

.sec2 p{
    text-align: center;
    color: #fff;
}

.btn4{
    background-color: blueviolet;
    color: #fff;
    height: 35px;
    width: 150px;
    border-radius: 5px;
    cursor: pointer;
}

.sec5{
    background-color: #fff;
}

.sec5 h1{
    text-align: center;
}

.sec5 p{
    text-align: center;
}
