* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(120deg, #aa076b, #61045f);
  color: #fff;
  overflow-x: hidden;
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 80px;
  background: rgba(255,255,255,0.05);
  backdrop-filter: blur(12px);
  position: sticky;
  top: 0;
  z-index: 10;
}

.logo span {
  color: #490048;
}

nav a {
  margin-left: 25px;
  color: #fff;
  text-decoration: none;
  position: relative;
}

nav a::after {
  content: '';
  width: 0;
  height: 2px;
  background: #d42c94;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.4s;
}

nav a:hover::after {
  width: 100%;
}

/* Container */
.container {
  padding: 110px 20px;
  text-align: center;
  animation: fadeSlide 1.2s ease;
}

.container h2 {
  font-size: 48px;
}

.container span {
  color: #38bdf8;
}

.container p {
  margin: 15px 0;
  opacity: 0.7;
}

.btn {
  padding: 14px 35px;
  border-radius: 40px;
  border: none;
  background: linear-gradient(45deg, #38bdf8, #0ea5e9);
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
}

.btn:hover {
  transform: scale(1.12);
  box-shadow: 0 0 30px #38bdf8;
}

/* TRACKER */
.tracker {
  padding: 60px 80px;
}

.tracker h3 {
  font-size: 32px;
  margin-bottom: 25px;
}

/* CARD */
.card {
  border-radius: 18px;
  overflow: hidden;
  animation: glowPulse 2.5s infinite;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 18px;
  text-align: center;
}

th {
  background: rgba(255,255,255,0.1);
}

tr {
  transition: transform 0.3s, background 0.3s;
}

tr:hover {
  background: rgba(56,189,248,0.15);
  transform: scale(1.015);
}

.green { color: #22c55e; }
.red { color: #ef4444; }

.loading {
  animation: pulse 1.2s infinite;
}

/* FOOTER */
.footer {
  text-align: center;
  padding: 20px;
  opacity: 0.6;
}

/* ANIMATIONS */
@keyframes fadeSlide {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes pulse {
  0% { opacity: 0.4; }
  50% { opacity: 1; }
  100% { opacity: 0.4; }
}

@keyframes glowPulse {
  0% { box-shadow: 0 0 6px #38bdf8; }
  50% { box-shadow: 0 0 35px #38bdf8; }
  100% { box-shadow: 0 0 6px #38bdf8; }
}
